<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>ToolHub</title>
    <style>
        
        .product {
            margin-right: 20px; /* Espacio entre productos */
             width: 300px;
             text-align: center;

        }
        
    </style>
</head>


<body class="fondo">
    
        <div class="rectangulo">
            <h1 style="margin-top: 15px; color: rgb(223, 223, 223);">TOOLHUB</h1>
            <div class="search-container">
                <form class="form-inline custom-search-form" method="post" action="/principal">   
                    <input class="form-control search-input" type="text" name="search" placeholder="Buscar"  style="width: 300px; margin-left: 790px; margin: top 1000px; ">
                    <button class="btn btn-primary" type="submit">Buscar</button>
                </form>
            </div>
        </div>

        <header class="container mt-4">
            <nav class="d-flex justify-content-between justify-content-center align-items-center" style="margin-top: 80px;">
                
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                </li>
                </ul>

            </nav>
        </header>
        <header class="container mt-4">

            <div class="d-flex">
                {{if .Result}}
                <article class="product" style="margin-top: 10px;">
                    <img src="{{.Result.URLImagen}}" alt="{{.Result.Nombre}}" style="max-width: 200px; max-height: 200px;">
                    <h2 style="font-size: 24px; color: blue;">{{.Result.Nombre}}</h2>
                    <p>{{.Result.Descripcion}}</p>  
                    <p>Calificacion: ✰{{.Result.Calificacion}}</p>
                    <button class="btn btn-primary">Añadir a Favoritos</button>
                    <hr width="122%">
                </article>
                {{else}}
                <div style="display: none;" >
                    <p>No se encontraron productos</p>
                </div>
                
                {{end}}
            </div>
        </header>
    
     

            
        </nav>
    </header>
    
   

    <section class="container mt-4">
        <div class="d-flex">
            <article class="product">
                <img src="/static/imagenes/Chatgpt.png" alt="Chatgpt.png">
                <h2>ChatGpt</h2>
                <p>un modelo de lenguaje desarrollado por<br>
                 OpenAI.Estoy diseñado para comprender<br>
                 y generar texto en lenguaje natural en<br>
                 una variedad de temas y contextos</p>
                <p>Calificacion: 4.5 ✰ </p>
                <button class="btn btn-primary">Añadir a Favoritos</button>
                <button class="btn btn-primary">Detalles</button>
            </article>

            <article class="product">
                <img src="/static/imagenes/ChatSonic.jpg" alt="ChatSonic.jpg" width="250" height="170">
                <h2>ChatSonic</h2>
                <p>es un chatbot de inteligencia<br>
                artificial desarrollado por Neuroflash,<br>
                una empresa de IA con sede en España.<br>
                Se basa en la tecnología GPT, la misma<br>
                que se utiliza en ChatGPT, y está entrenado<br>
                con un conjunto de datos masivo<br>
                de texto y código</p>
                <p>Calificacion: 3.5✰</p>
                <button class="btn btn-primary">Añadir a Favoritos</button>
                <button class="btn btn-primary">Detalles</button>
            </article>

        

        <article class="product">
            <img src="/static/imagenes/Claude.png" alt="Claude.png" width="250" height="170">
            <h2>Claude</h2>
            <p>es un asistente de IA desarrollado<br>
            por Anthropic, una empresa de IA con<br>
            sede en Estados Unidos. Se basa en el<br>
            modelo de lenguaje Claude 2, que está<br>
            entrenado con un conjunto de<br>
            datos masivode texto y código</p>
            <p>Calificacion: 4.0✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>
        <article class="product">
            <img src="/static/imagenes/BingCreator.jpg" alt="BingCreator.jpg" width="250" height="170">
            <h2>BingCreator</h2>
            <p>es una herramienta de IA de Microsoft<br>
            que permite a los usuarios crear<br>
            contenido creativo, como imágenes,<br>
            texto y música. Se basa en el modelo<br>
            de lenguaje de gran tamaño DALL-E 2,<br>
            que está entrenado con un<br>
            conjunto de datos masivo de<br>
            imágenes y texto.</p>
            <p>Calificacion: 4.8✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>
    </div>
    <div class="d-flex">
        <article class="product">
            <img src="/static/imagenes/ChatPDF.jpg" alt="ChatPDF.jpg" width="250" height="170">
            <h2>ChatPDF</h2>
            <p>es un chatbot de IA que puede resumir<br>
            y responder a preguntas sobre cualquier<br>
            PDF. Es una herramienta útil para<br>
            estudiantes, investigadores y profesionales<br>
            que necesitan acceder rápidamente<br>
            a la información de los<br>
            documentos PDF</p>
            <p>Calificacion: 4.0✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>

        <article class="product">
            <img src="/static/imagenes/bard.png" alt="bard.png" width="250" height="170">
            <h2>bard</h2>
            <p>es un gran modelo de lenguaje (LLM)<br>
            de Google AI, entrenado en un conjunto<br>
            de datos masivo de texto y código.<br>
            Puedo generar texto, traducir idiomas,<br>
            escribir diferentes tipos de contenido<br>
            creativo y responder a tus preguntas<br>
                de una manera informativa</p>
            <p>Calificacion: 3.8✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>


        <article class="product">
            <img src="/static/imagenes/HumataAi.jpg" alt="HumataAi.jpg" width="250" height="170">
            <h2>HumataAi</h2>
            <p>es una plataforma de inteligencia artificial(IA)<br>
            que se enfoca en la búsqueda y análisis<br>
            de información en PDF. Su objetivo es<br>
            ayudar a los usuarios a extraer<br>
            información y obtener respuestas<br>
            precisas a partir de documentos y<br>
            datos voluminosos</p>
            <p>Calificacion: 4.2✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>


        <article class="product">
            <img src="/static/imagenes/AIVA AI.png" alt="AIVA AI.png" width="250" height="170">
            <h2>AIVA AI</h2>
            <p>es un asistente de composición musical<br>
            impulsado por IA desarrollado por AIVA<br>
            Technologies. Utiliza algoritmos de aprendizaje<br>
            automático para generar piezas musicales<br>
            originales en varios géneros, incluidos<br>
            música clásica, jazz, pop y electrónica</p>
            <p>Calificacion: 2.8✰</p>
            <button class="btn btn-primary">Añadir a Favoritos</button>
            <button class="btn btn-primary">Detalles</button>
        </article>

    </div>

    


    </section>

    <footer class="container mt-4">
        <p>&copy; 2023 Tu Tienda en Línea. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
